.about__contact-info__circle{
    filter: blur(90px);
}

.about__contact-info__contact{
    width: 21rem;
    height: 10rem;
    background-color: rgb(255 255 255 / 15%);
    backdrop-filter: blur(2px);   
}


@media(max-height:540px){
    .about{
        height: auto;
    }
}

@media(min-width:1024px){
    .about__contact-info__contact{
        width: 27rem;
        height: 12rem;
    }
}