<button
  type="button"
  cdkOverlayOrigin
  #oepnSidemenuButton="cdkOverlayOrigin"
  (click)="openSidemenu()"
>
  <fa-icon class="text-white text-2xl" [icon]="icons.menuIcon"></fa-icon>
</button>

<ng-template
  
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="oepnSidemenuButton"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div
    class="sidenav h-screen w-screen fixed top-0 flex flex-col items-center justify-center"
  >
    <div class="sidenav__container text-center">
      <p class="mb-2 text-white" (click)="changeSidenavStatus('experience')">Experiencia</p>
      <p class="mb-2 text-white" (click)="changeSidenavStatus('skills')">Conocimientos</p>
      <p class="mb-2 text-white" (click)="changeSidenavStatus('projects')">Proyectos</p> <br>
      <app-social-button></app-social-button>
    </div>

    <div class="sidenav__close mt-8" (click)="openSidemenu()">
      <fa-icon class="text-white text-2xl" [icon]="icons.closeIcon"></fa-icon>
    </div>
  </div>
</ng-template>
