<div class="card">
    <span>//03.Contactame</span>
    <a class="social-link" href="https://github.com/Miguel-Alejandro" target="_blank">
      <fa-icon [icon]="iconClass.githubIcon"></fa-icon>
    </a>
    <a class="social-link" href="https://medium.com/@arellano.ecotecnologias" target="_blank">
      <fa-icon [icon]="iconClass.mediumIcon"></fa-icon>
    </a>
    <a class="social-link" href="https://www.linkedin.com/in/miguel-alejandro-arellano-lucio-78a80b1a7/" target="_blank">
      <fa-icon [icon]="iconClass.linkedinIcon"></fa-icon>
    </a>
  </div>