<div class="skill-card bg-amber-200 p-4 flex flex-col justify-center items-center">
  <div class="skill-card__header">
    <div
      [ngClass]="colors"
      *ngIf="
        skill.name != 'Ionic' &&
        skill.name != 'Stencil.js' &&
        skill.name != 'Cypress'
      "
      class="skill-card__header__icon flex justify-center items-center w-28 h-28 rounded-full mb-3"
    >
      <fa-icon class="text-white text-4xl" [icon]="skill.logo"></fa-icon>
    </div>

    <div
      *ngIf="
        skill.name == 'Ionic' ||
        skill.name == 'Stencil.js' ||
        skill.name == 'Cypress'
      "
      class="skill-card__header__icon flex justify-center items-center w-28 h-28 rounded-full mb-3"
      [ngClass]="colors"
    >
      <img class="w-9"  [src]="skill.logo" alt="" />
    </div>

    <h1 class="text-center">{{ skill.name }}</h1>
  </div>
  <div class="skill-card__content">
    <app-experience-bar [experienceRanges]="skill.experience"></app-experience-bar>
  </div>
</div>
