:root{
    --color-gray: #252728;
    --color-gray-medium: #e7e9ed;

    --black-primary: #020203;
    --gray-primary: #A6A9AA;
    --green-primary: #02F74C;
    --green-secondary: #19C84A;

    --yellow-primary: rgb(250 204 21);
    --red-primary: rgb(239 68 68);
    --purple-gradient: #66a6ff;
}