<p class="this-is">Esto es</p>

<section class="personal-info">
    <article class="personal-info__text">
        <h1>Miguel <br> Arellano</h1>
        <p>Frontend developer</p>
        <p class="download-cv" >Descargar CV</p>
    </article>

    <article class="personal-info__animated hidden text-white md:block">
        <div class="orbit-container">
            <div class="center-circle" (click)="downloadPDF()">
                <p>Descargar CV</p>
            </div>
            <div class="orbit-circle"></div>
            <div class="orbit-circle-invert"></div>
        </div>
    </article>
</section>