<div class="projects">
  <div class="projects__title">
    <h1 class="text-white text-5xl mt-12 text-center mb-20">Proyectos</h1>
  </div>

  <div class="wave-container">
    <div class="wave"></div>
  </div>

  <div class="projects__carousel">
    <owl-carousel-o [options]="customOptions">
      @for (project of projects; track $index) {
          <ng-template carouselSlide [width]="carouselWidthCard">

            <div class="project">
              <a [href]="project.url" class="no-underline" target="_blank">
                <img class="project__img" [src]="project.image" alt="miguel alejandro proyectos" />
              </a>
              <div class="project__description">
                <h3>{{project.name}}</h3>
                <p> {{project.description}} </p>
                <br>
                @for ( tech of project.technologies; track $index) {
                  <span 
                  [ngClass]="{
                    'chip--yellow': tech === 'Firebase Hosting',
                    'chip--red': tech === 'Angular',
                    'chip--purple': tech === 'Stencil.js' || tech === 'Ionic',
                    'chip-dark': tech === 'Railway',
                    }">
                    {{tech}}
                  </span>
                }
              </div>
            </div>

          </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>
