<div class="card h-80 md:h-72">
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <div class="card__content text-white px-3">
        <p>
          Soy desarrollador web enfocado más en el Frontend con 2 años y 8 meses de experiencia
          pero también me gusta el backend.
        </p> <br>

        <p>
          He construido aplicaciones web que van desde una plataforma para administrar
          una aplicación para la salud y video consultas hasta un dashboard que trabajaba
          con inteligencia artificial para biométricos
        </p>
    </div>
  </div>