.chip{
  font-size: 14px;
  border-radius: 50px;
  padding: 7px;
  margin-right: 10px;
}

.chip--yellow {
  @extend .chip;

  border: 1px solid var(--yellow-primary);
  color: var(--yellow-primary);
}
.chip--red {
  @extend .chip;
  
  border: 1px solid var(--red-primary);
  color: var(--red-primary);
}

.chip--purple{
  @extend .chip;

  border: 1px solid var(--purple-gradient);
  color: var(--purple-gradient);
}

.chip-dark{
  @extend .chip;

  border: 1px solid var(--color-gray-medium);
  color: var(--color-gray-medium);
}