<header
  class="header hidden justify-between items-center px-12 py-4 h-16 md:flex"
>
  <div class="header__options">
    <ul class="flex">
      <li (click)="changeHomeSection('experience')" class="ml-5">
        Experiencia
      </li>
      <li (click)="changeHomeSection('skills')" class="ml-5">Skills</li>
      <li (click)="changeHomeSection('projects')" class="ml-5">Proyectos</li>
    </ul>
  </div>

  <div class="header__social">
    <app-social-button></app-social-button>
  </div>
</header>

<div
  class="home px-6 md:pt-16 md:px-12 lg:flex lg:justify-between lg:items-center lg:px-12"
>
  <div class="home__info items-center lg:mt-20 lg:flex">
    <div class="home__info_menu-icon pl-6 mb-8 pt-4 md:hidden">
      <app-sidenav (sidenavOptionsState)="sidenavState($event)"></app-sidenav>
    </div>

    <div class="home__info__name container md:py-10">
      <h1
        class="text-7xl text-white text-pop-up-top mt-20 md:text-8xl md:mt-16 lg:mt-0"
      >
        Miguel <br />
        Alejandro
      </h1>
    </div>
  </div>

  <div class="home__info__terminal-info md:py-10 lg:px-0 lg:w-5/12">
    <app-terminal-card></app-terminal-card>
  </div>
</div>

<div class="h-screen my-info" [ngSwitch]="menuState">
  <div class="my-info__about-me" *ngSwitchCase="'experience'">
    <app-experience></app-experience>
  </div>
  <div class="my-info__about-me" *ngSwitchCase="'skills'">
    <app-skills></app-skills>
  </div>
  <div class="my-info__about-me" *ngSwitchCase="'projects'">
    <app-building-page></app-building-page>
  </div>
</div>
