.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--black-primary);
}

.header__options{
  .first-options, .second-options{
    color: var(--gray-primary);
    cursor: pointer;

    p{
      padding: 5px;
      width: 150px;
      &:hover{
        border: 2px solid var(--green-secondary);
        text-align: center;
        color: var(--green-secondary);
      }
    }
  }
}


.home, .my-info {
  background-color: var(--black-primary);
}
