<header
  class="header hidden justify-between items-center px-12 py-4 h-28 md:flex"
>
  <div class="header__options flex w-full justify-between items-center">
    <div class="first-options">
      <p (click)="scrollAction(homeInfo)" class="mb-2">//01. Home</p>
      <p (click)="scrollAction(projects)" class="mb-2">//02. Proyectos</p>
    </div>

    <div class="personal-brand">
      <h1 class="text-4xl text-white">MA</h1>
    </div>

    <div class="second-options">
      <app-social-button></app-social-button>
    </div>
  </div>
</header>

<div
  class="home px-6 md:pt-16 md:px-12 lg:px-12"
>
  <div class="home__info items-center lg:mt-20 lg:flex">
    <div class="home__info_menu-icon pl-6 mb-8 pt-4 md:hidden">
      <app-sidenav (sidenavOptionsState)="sidenavState($event)"></app-sidenav>
    </div>

    <div #homeInfo class="home__info__name container md:py-10">
      <app-home-info></app-home-info>
    </div>
  </div>
</div>

<div class="my-info pt-1 pb-16">
  <div #projects class="my-info__my-projects">
    <app-projects></app-projects>
  </div>
  <div #experience class="my-info__employments-history">
    <app-experience></app-experience>
  </div>
</div>
