<div class="folder-detail">
    <div *ngIf="!folderInfo" class="folder-detail__not-found-message mt-36 md:mt-8 text-slate-400 md:hidden">
        <p class="text-center">Para ver la información porfavor
            selecciona una de las carpetas de arriba</p>
    </div>
    
    <div *ngIf="!folderInfo" class="folder-detail__not-found-message mt-36 md:mt-8 text-slate-400 hidden md:block">
        <p class="text-center">Para ver la información porfavor selecciona
            una de las carpetas de la izquierda</p>
    </div>

    <div *ngIf="folderInfo" class="folder-detail__info bg-amber-200 mt-36 md:mt-8 p-4">
        <h1 class="text-2xl">{{folderInfo.name}}</h1>
        <p class="text-lg mb-12">{{folderInfo.duration}}</p>

        <p class="mb-6 font-extrabold">Responsabilidades desempeñadas dentro de la empresa</p>
        <ul class="p-4" >
            <li class="list-disc mb-4" *ngFor="let functions of folderInfo.functions">{{functions.functionName}}</li>
        </ul>
    </div>
</div>
