<div class="skills">
    <h1 class="text-white text-5xl mt-12 text-center mb-20">Skills</h1>

    <div class="skills__content flex flex-col items-center">
        <div class="card w-80 md:w-96">
            <div class="header">Mis habilidades</div>
            <div class="body">
              <div class="skill" *ngFor="let skill of skills">
                <div class="skill-name"> {{skill.name}} </div>
                <div class="skill-level">
                  <div class="skill-percent" [style]="'width:' + skill.experience + '%'"></div>
                </div>
                <div class="skill-percent-number">{{skill.experience}}%</div>
              </div>
            </div>
          </div> 
    </div>     
</div>