@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto+Condensed&family=Roboto:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label,
textarea,
select,
option,
span,
b,
a {
  font-family: "Chivo Mono", monospace;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
