<div class="experience">
  <h1> Historial Laboral</h1>

  @for (job of works; track $index) {
    <div class="experience__container">
      <div class="job">
        <h2>{{ job.name }}</h2>
        <p class="mb-5"> {{ job.duration }} </p>

        @for (jobFunction of job.functions; track $index) {
          <div class="job__actions">
            <p>  -  {{ jobFunction.functionName }}</p>
          </div>
        }
      </div>
      <div class="icon">
        <fa-icon [icon]="iconClass.chevronRight"></fa-icon>
      </div>
    </div>
  }

</div>