<div class="exp w-screen h-screen pl-6 pr-6 pt-4">
  <h1 class="text-4xl mb-8">Experiencia</h1>

  <div class="exp__container sm:flex flex-wrap sm:justify-between">
    <div
      class="exp_jobs mt-4 sm:w-screen lg:w-auto"
      *ngFor="let job of works"
    >
      <div class="exp_jobs__name bg-amber-300 pl-3 pr-3 pt-3 w-52 rounded-t-md">
        <h1>{{ job.name }}</h1>
      </div>
      <div class="exp_jobs__duration bg-amber-300 pl-3 pr-3 pb-4">
        <small>{{ job.duration }}</small>
      </div>
      <div 
      class="exp_jobs__function pt-5 pl-5 pr-5 pb-4 bg-amber-300 rounded-b-md lg:h-48">
        <p class="mb-3" *ngFor="let functions of job.functions">
          - {{ functions.functionName }}
        </p>
      </div>
    </div>
  </div>
</div>
