
.experience{
  h1{
    color: white;
    @apply text-5xl;
    @apply text-center;
    @apply mt-12;
    @apply mb-20;
  }
}

.experience__container{
  @apply flex;
  @apply items-center;
  @apply justify-center;

  @apply p-4;
  @apply cursor-pointer;

  border-top: 1px solid var(--green-tertiary);
  border-bottom: 1px solid var(--green-tertiary);

  &:hover{
    background-color: var(--green-tertiary);

    .job{

      h2{
        color: var(--black-primary);
      }
  
      p{
        @apply block;
      }
    }

    .icon{
      fa-icon{
        color: var(--black-primary);
      }
    }
  }

}

.job{
  @apply container; 
  @apply mx-auto; 
  @apply max-w-screen-lg;


  h2{
    font-size: 2.75rem;
    color: white;
  }
  p{
    color: var(--black-primary); 
    @apply hidden;
  }
}

.icon{
  margin-right: 2rem;
  fa-icon{
    color: white;
    font-size: 2.75rem;
  }
}

@media (max-width: 576px){
  .job{
    h2{
      font-size: 2rem;
    }
  }

  .icon{
    margin-right: 1rem;
    font-size: 1.75rem;
  }
}